<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747932617190-vgd5drk61bpf9evt093q6je4m0lps8gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747932617190-vgd5drk61bpf9evt093q6je4m0lps8gn</string>
	<key>API_KEY</key>
	<string>AIzaSyDnavcE4GumlrU6Z7PkS2avjTR4zlXF1yM</string>
	<key>GCM_SENDER_ID</key>
	<string>747932617190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dh.Survey-Std</string>
	<key>PROJECT_ID</key>
	<string>dsusurveyexam</string>
	<key>STORAGE_BUCKET</key>
	<string>dsusurveyexam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747932617190:ios:187da448b89250f0b76e27</string>
</dict>
</plist>